

<div>
    <div class="bg-white" style="height: 55px; border-top: 5px solid #007bff">
        <img src="assets/images/NRF25_SARAO.png" height="100%" alt="SARAO Logo">
    </div>
</div>
<nav class="navbar bg-dark">
    <div class="input-group d-flex justify-content-center align-items-center" style="width: 75vw; max-width: 80%;">
        <input class="form-control" type="search" [placeholder]="placeholder" [(ngModel)]="searchText" (ngModelChange)="search()">
        <button class="btn btn-outline-primary d-flex align-items-center" type="submit" matTooltip="search" (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <button class="btn btn-outline-danger d-flex align-items-center" type="submit" matTooltip="search" (click)="signOut()">
        <mat-icon>logout</mat-icon>
    </button>
</nav>
