<div>
    <div class="bg-white" style="height: 70px; border-top: 10px solid #007bff;">
        <img src="assets/images/NRF25_SARAO.png" height="100%" alt="SARAO Logo">
    </div>
    <div class="text-right d-flex flex-row-reverse links">
        <a class="px-5" [ngClass]="{'active-tab': isRequestsActive}" [ngStyle]="{'display': !isAdministrator ? 'none' : 'initial'}" routerLink="/administrator/browse-requests" routerLinkActive="active">Browse Requests</a>
        <a class="px-5" [ngClass]="{'active-tab': !isRequestsActive}" [routerLink]="['/' + ((isAdministrator)? 'administrator' : 'guest') + '/browse-images']" routerLinkActive="active">Browse Images</a>
    </div>
</div>
<nav class="navbar bg-dark">
    <div class="input-group d-flex justify-content-left align-items-center" style="width: 75vw; max-width: 80%;">
        <input class="p-2" style="width: 80%; height: 38px;" type="search" [placeholder]="placeholder" [(ngModel)]="searchText" (ngModelChange)="search()">
        <button class="btn btn-outline-primary d-flex align-items-center search" type="submit" matTooltip="search" (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <button class="btn btn-outline-danger d-flex align-items-center" type="submit" matTooltip="log out" (click)="signOut()">
        <mat-icon>power_settings_new</mat-icon> 
    </button>
</nav>