<div class="vh-100 d-flex align-items-center justify-content-center bg-dark">
    <form class="container bg-white rounded text-center px-5 py-3" [formGroup]="signInForm" (submit)="signIn()">
        <div class="form-group text-left">
            <img width="50%" src="assets/images/NRF25_SARAO.png" alt="SARAO Logo">
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input  class="w-100 mb-3" id="email" type="email" placeholder="Enter your Email Address..." formControlName="email" autocomplete="email">
            <div class="alert alert-danger" *ngIf="email?.touched && email?.invalid">
                <ng-container *ngIf="email?.errors?.['required']">
                    Email Address is required...
                </ng-container>
                <div *ngIf="email?.errors?.['pattern']">
                    Invalid Email Address...
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="signInForm.invalid">Sign In</button>
            <p class="text-center m-1">Or</p>
            <button type="button" class="login-with-google-btn" (click)="signInWithGoogle()">
                Sign In with Google
            </button>
        </div>
    </form>
</div>