<div class="px-3 bg-dark" style="min-height: calc(100vh - 144px);">
    <div class="bg-white" style="height: calc(100vh - 150px);">
        <div class="row d-flex justify-content-center align-items-center" style="height: calc(100vh - 200px);" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
        <div class="row pt-4 px-3" *ngIf="!isLoading">
            <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let image of filteredImagesList;">
                <app-image-card
                    [image]="image"
                ></app-image-card>
            </div>
        </div>
    </div>
</div>